/*
Name: Default Template
URL: http://Furasta.Org
Description: This is the default, fallback template which will activate when no other template are detected.
Author: Conor Mac Aoidh
Author URL: http://blog.macaoidh.name
 */

*{ margin:0;padding:0 }
body{ background:#eee;text-align:center;font-family:Georgia,'Times New Roman',Serif;color:rgb(102, 102, 102);font-size:14px }
#wrapper{ margin:0 auto;width:1000px;background:#fff;border:1px solid #bbb }
#header{ margin:20px 20px 0 20px;text-align:left;border-top:4px solid #bbb;border-bottom:4px solid #bbb }
#title{ margin:20px 0 0 0;font-size:16px;font-weight:bold }
#menu{ margin:15px 0 10px 0;border: 1px solid transparent }


#header #menu ul li a{ color:000;text-decoration:none }
#header #menu ul li a:hover{ background:#666 }
#header #menu ul li.level_0 > a.parent-hover{ color:#fff }
#header #menu ul li a.parent-hover{ background:#666 }
#header #menu ul > li ul{ background:#fff;border:1px solid #000 }
#header #menu ul > li ul li a:hover{ background:#ded }
#header #menu ul > li ul li a.parent-hover{ background:#ded }
#header #menu ul > li ul a{ color:#000 }

.top{ margin-left:5px }
#content{ margin:30px 120px;text-align:left }
#footer{ border-top:4px solid #bbb;margin:20px;font-weight:italic }
#footer p{ margin:5px }
